body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

@keyframes moveBackground {
    from { background-position: 100% 0; }
    to { background-position: 0 0; }
}

#background {
    width: 200%; /* Make it twice the width of the game area to create a seamless loop */
    height: 100%;
    background-image: url('../images/PixelMountains.jpg');
    background-repeat: repeat; /* Ensure the background repeats horizontally */
    background-position: 100% 0;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    animation: moveBackground 20s linear infinite; /* Adjust duration as needed */
}

#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 120px;
}

.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0%{top:120px;}
    30%{top:70px;}
    70%{top:70px;}
    100%{top:120px;}
}

#block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 100px;
    left: 500px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{left:500px;}
    100%{left:-20px;}
}

p {
    text-align: center;
    position: absolute;
    margin-top: 210px; 
}